<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zarządzaj hotelami</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/template.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owner/template_owner.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owner/manage_hotels.css}" type="text/css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<header class="container">
    <h1><b>Zarządzaj hotelami</b></h1>
</header>

<div class="line">
    <nav class="container">
        <a type="button" th:href="@{/manage_users}">Zarządzaj użytkownikami</a>
        <a type="button" th:href="@{/user_profile}">Twój Profil</a>
        <a type="button" th:href="@{/logout}">Wyloguj się</a>
    </nav>
</div>
<main class="container">
    <h2 th:if="${not #lists.isEmpty(hotels)}">Istniejące hotele: </h2>
    <section class="row panel" th:id="list_of_hotels">
        <ul>
            <li th:each="hotel,iter : ${hotels}">

                    <span class="col-sm-3 col-md-3 col-lg-3">
                        <p>Nazwa hotelu:</p>
                        <p th:text="${hotel.name}" type='text' name='name'></p>
                        <p>Ulica:</p>
                        <p th:text="${hotel.street}" type='text' name='street'></p>
                        <p>Miejscowość:</p>
                        <p th:text="${hotel.city}" type='text' name='city'></p>
                        <p th:text="${hotel.idHotel}" type='text' name='idHotel' hidden></p>
                    </span>
                <span class="col-sm-3 col-md-3 col-lg-3">
                        <p>Kraj:</p>
                        <p th:text="${hotel.state}" type='text' name='state'></p>
                        <p>Kod pocztowy:</p>
                        <p th:text="${hotel.postalCode}" type='text' name='postalCode'></p>
                        <p>Gwiazdki:</p>
                        <p th:text="${hotel.rating}" type='number' name='rating' hidden></p>
                        <th:block th:insert="template.html :: stars(rating = ${hotel.rating})"></th:block>
                    </span>
                <span class="col-sm-3 col-md-3 col-lg-3">
                        <p>Opis:</p>
                        <p th:text="${hotel.description}" type='text' name='description'></p>
                        <p>Włączony:</p>
                        <input onclick="return false;" type="checkbox" th:id="enabled" th:checked="${hotel.enabled}">
                    </span>

                <span class="col-sm-3 col-md-3 col-lg-3 green_buttom">
                      <a th:href="@{'/change_hotel_status/{id_hotel}'(id_hotel=${hotel.idHotel})}">Zmień status hotelu</a>


                </span>
            </li>
        </ul>
    </section>
</main>
<footer class="container"></footer>

</body>
</html>