<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zarządzaj użytkownikami</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/owner/template_owner.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owner/manage_hotels.css}" type="text/css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<header class="container">
    <h1><b>Zarządzaj użytkownikami</b></h1>
</header>

<div class="line">
    <nav class="container">
        <a type="button" th:href="@{/user_profile}">Twój Profil</a>
        <a type="button" th:href="@{/logout}">Wyloguj się</a>
    </nav>
</div>

<main class="container">
    <h2>Podaj dane użytkownika:</h2>
    <section class="row panel" th:id="new_user">
        <ul>
            <li class="added_user">
                <form th:name='new_user' th:action="@{/add_user}" th:object="${new_user}" th:method='post'>
                    <span class="col-sm-4 col-md-4 col-lg-4">
                        <p>Imię:</p>
                        <input type='text' name='name'/>
                        <p>Nazwisko:</p>
                        <input type='text' name='lastname'/>
                        <p>Adres email:</p>
                        <input type='email' name='email'/>
                    </span>
                    <span class="col-sm-4 col-md-4 col-lg-4">
                        <p>Numer telefonu:</p>
                        <input type='text' name='phone'/>
                        <p>Miejscowość:</p>
                        <input type='text' name='city'/>
                        <p>Ulica:</p>
                        <input type='text' name='street'/>
                    </span>
                    <span class="col-sm-3 col-md-3 col-lg-3">
                        <p>Profil:</p>
                        <input  type='text' name='profile'/>
                        <p>Hasło:</p>
                        <input  type='text' name='password'/>
                        <p>Włączony:</p>
                        <input  type='checkbox' name='enabled'/>
                    </span>
                    <span class="col-sm-3 col-md-3 col-lg-3 green_buttom">
                        <input name="submit" type="submit" value="Dodaj użytkownika"/>
                    </span>
                </form>
            </li>
        </ul>
    </section>
    <h2 th:if="${not #lists.isEmpty(users)}">Istniejący użytkownicy: </h2>
    <section class="row panel" th:id="list_of_users">
        <ul>
            <li th:each="user,iter : ${users}">
                <div class="row">
                    <form th:name='modified_user' th:action="@{/user_modification}" th:object="${modified_user}"
                          th:method='post'>
                    <span class="col-sm-3 col-md-3 col-lg-3">
                        <p th:text="${user.idUser}" type='text' name='idUser' hidden></p>
                        <p>Imię:</p>
                        <p th:text="${user.name}" type='text' name='name'></p>
                        <p>Nazwisko:</p>
                        <p th:text="${user.lastname}" type='text' name='lastname'></p>
                        <p>Adres email:</p>
                        <p th:text="${user.email}" type='text' name='email'></p>
                    </span>
                        <span class="col-sm-3 col-md-3 col-lg-3">
                        <p>Numer telefonu:</p>
                        <p th:text="${user.phone}" type='text' name='phone'></p>
                        <p>Miejscowość:</p>
                        <p th:text="${user.city}" type='text' name='city'></p>
                        <p>Ulica:</p>
                        <p th:text="${user.street}" type='text' name='street'></p>
                    </span>
                    <span class="col-sm-3 col-md-3 col-lg-3">
                        <p>Profil:</p>
                        <p th:text="${user.profile}" type='text' name='profile'></p>
                        <p>Hasło:</p>
                        <p th:text="${user.password}" type='password' name='password'></p>
                        <p>Włączony:</p>
                        <!--<input  th:if="${user.enabled == true}"  checked type='checkbox' name='enabled'/>-->

                        <!--<p th:checked='${user.enabled}'></p>-->

                        <!--<input type="checkbox" name="enabled" th:checked="${user.enabled}" th:value="${user.enabled}"/>-->


                        <!--<input th:if="${user.enabled} == true" type="checkbox" name="enabled"  th:value=true/>-->
                        <input type="checkbox" name="enabled" value="false"/>

                        <!--<input  th:if="${user.enabled == false}"  type='checkbox' name='enabled'/>-->
                    </span>
                        <span class="col-sm-3 col-md-3 col-lg-3 green_buttom">
                        <input name="submit" type="hidden" value="Zapisz zmiany"
                               th:id="save_changes_submit_+${iter.index + 1}"/>
                    </span>
                    </form>
                    <span class="col-sm-3 col-md-3 col-lg-3 green_buttom">
                     <input name="submit" type="submit" value="Modyfikuj dane o użytkowniku"
                            th:id="modify_submit_+${iter.index + 1}"/>
                    <form th:action="@{/details_of_the_user}" th:method="get">
                        <input type="number" name="id_user" th:value="${user.idUser}" hidden/>
                        <input type="submit" value="Dodaj nowe apartamenty" hidden/>
                    </form>
                    <a th:href="@{'/remove_user/{id_user}'(id_user=${user.idUser})}">Usuń użytkownika</a>
                </span>
                </div>
            </li>
        </ul>
    </section>
</main>
<footer class="container"></footer>
<script>
    $('[id^=modify_submit_]').click(function () {
        var allDetailsOfUser = $(this).parent().prev().children().children();
        allDetailsOfUser.each(function () {

            var attribute = $(this).attr('name');

            if ($(this).is('input') && $(this).prop("type") !== "checkbox") {
                $(this).prop("type", "submit");
            }
            else if ($(this).is(":hidden")) {
                if ($(this).prop("checked")) {
                    $(this).replaceWith($("<input type=" + $(this).attr('type') + " name=" + $(this).attr('name') + " value=" + $(this).text()  + " checked  hidden>"));
                } else {
                    $(this).replaceWith($("<input type=" + $(this).attr('type') + " name=" + $(this).attr('name') + " value=" + $(this).text()  + "  hidden>"));
                }
            }else if (typeof attribute !== typeof undefined && attribute !== false) {
                if ($(this).prop("checked")) {
                    $(this).replaceWith($("<input type=" + $(this).attr('type') + " name=" + $(this).attr('name') + " checked>"));
                } else {
                    $(this).replaceWith($("<input type=" + $(this).attr('type') + " name=" + $(this).attr('name') + " value=" + $(this).text() + ">"));
                }
            }
        });
        $(this).prop("type", "hidden");
    });
</script>
</body>
</html>