body{
    background-color: forestgreen;
}

.line{
    background-color: darkgreen;
}

nav a{
    background-color: lightgreen;
    color: black;
}
nav a:hover{
    background-color: green;
    color: black;
}

#list_of_hotels li, #list_of_reservation li, #list_of_old_reservation li, #added_apartment li, #list_of_apartments li{
    display: flow-root;
    border-bottom: solid 1px gray;
}

#list_of_hotels input, .added_hotel input, .added_hotel textarea, .added_apartment input, #list_of_apartments input,
#list_of_apartments select, #added_apartment select{
    margin: 10px 5px 10px 5px;
    width: 100%;
    font-size: 16px;
}

#list_of_apartments select, #added_apartment select{
    height: 25px;
}

.panel{
    background-color: mintcream;
    border: lightslategrey;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.green_buttom input, .green_buttom a{
    margin-top: 40px;
    padding: 8px 20px 8px 20px;
    font-size: 16px;
    background-color: forestgreen;
    opacity: 0.9;
    color: antiquewhite;
    border: 1px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    white-space: normal;
}

.green_buttom input:hover, .green_buttom a:hover{
    background-color: darkgreen;
    color: snow;
    text-decoration: none;
}

.green_buttom a{
    display: block;
    text-align: center;
    margin: 10px -5px 0px 5px;
}
