<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyszukiwarka apartamentów</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/template.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/client/template_client.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/client/search_engine.css}" type="text/css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<header class="container">
    <h1><b>Wyszukiwarka apartamentów</b></h1>
</header>

<div class="line">
    <nav class="container">

        <a th:if="${profile == 'Client'}" type="button" th:href="@{/user_reservations}">Twoje rezerwacje</a>

        <a th:if="${profile == 'Owner'}" type="button" th:href="@{/manage_hotels}">Zarządzaj hotelami</a>
        <a th:if="${profile == 'Owner'}" type="button" th:href="@{/reserved_apartments}">Zestawienie rezerwacji</a>

        <a th:if="${profile == 'Admin'}" type="button" th:href="@{/manage_users}">Zarządzaj kontami</a>

        <a th:if="${profile == 'Client' or profile == 'Owner' or profile == 'Admin'}" type="button" th:href="@{/user_profile}">Twój Profil</a>
        <a th:if="${profile == 'Client' or profile == 'Owner' or profile == 'Admin'}" type="button" th:href="@{/logout}">Wyloguj się</a>

        <a th:if="${profile == null}" type="button" th:href="@{/sign_in}">Zarejestruj się</a>
        <a th:if="${profile == null}" type="button" th:href="@{/select_the_page}">Zaloguj się</a>

    </nav>
</div>

<main class="container">
    <h2>Wyszukaj:</h2>
    <section class="row panel" th:id="search_apartment">
        <ul>
            <li class="searching_apartment">
                <form th:method="get" th:action="@{/search_engine}">
                <span class="col-sm-2 col-md-2 col-lg-2">
                    <p>Miejsce:</p>
                    <input th:type='text' name='city'>
                </span>
                    <span class="col-sm-3 col-md-3 col-lg-3">
                    <p>Nazwa hotelu:</p>
                    <input th:type='text' name='hotel_name'>
                </span>
                    <span class="col-sm-2 col-md-2 col-lg-2">
                    <p>Data od:</p>
                    <input th:type='date' name='date_start' pattern="\d{4}/\d{1,2}/\d{1,2}">
                </span>
                    <span class="col-sm-2 col-md-2 col-lg-2">
                    <p>Data do:</p>
                    <input th:type='date' name='date_end' pattern="\d{4}/\d{1,2}/\d{1,2}">
                </span>
                <span class="col-sm-3 col-md-3 col-lg-3 blue_buttom">
                    <input name="submit" type="submit" value="Szukaj"/>
                </span>
                </form>
            </li>
        </ul>
    </section>
    <h2 th:if="${not #lists.isEmpty(apartments)}">Dostępne apartamenty:</h2>
    <section class="row panel" th:id="show_apartments">
        <ul>
            <li th:each="apartment,iter : ${apartments}">
                <span class="col-sm-3 col-md-3 col-lg-3">
                    <p>Nazwa hotelu:</p>
                    <p th:text="${apartment.hotelName}" type='text' name='hotelName'></p>
                    <p>Nazwa apartamentu:</p>
                    <p th:text="${apartment.name}" type='text' name='name'></p>
                    <p th:text="${apartment.idApartment}" type='text' name='idApartment' hidden></p>
                </span>
                <span class="col-sm-3 col-md-3 col-lg-3">
                    <p>Ulica:</p>
                    <p th:text="${apartment.street}" type='text' name='street'></p>
                    <p>Miejscowość:</p>
                    <p th:text="${apartment.city}" type='text' name='city'></p>
                </span>
                <span class="col-sm-3 col-md-3 col-lg-3">
                    <p>Status:</p>
                    <p th:text="${apartment.status}" type='number' name='status'></p>
                </span>
                <span class="col-sm-3 col-md-3 col-lg-3 blue_buttom">
                    <form th:if="${profile == 'Client'}" th:action="@{/details_of_the_apartment}" th:method='post'>
                        <input type='number' name='id_apartment' th:value="${apartment.idApartment}" hidden>
                        <input name="submit" type="submit" value="Pokaż szczegóły"/>
                    </form>
                    <a th:if="${profile != 'Client'}" type="button" th:href="@{/select_the_page}">Pokaż szczegóły</a>
                </span>
            </li>
        </ul>
    </section>
</main>
<footer class="container"></footer>
<script>

    $(document).ready(function() {
        $("p:contains('Available')").text("Dostępny");
        $("p:contains('Blocked')").text("Zablokowany");

        $("a").click(function(){
            $("p:contains('Dostępny')").text("Available");
            $("p:contains('Zablokowany')").text("Blocked");
        });
    });

</script>
</body>
</html>