input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 10px;
}

#new_user .green_buttom input{
    margin-top: 40px;
}

p[name="password"]{
    -webkit-text-security: disc;
}

#list_of_users span{
    padding-left: 25px;
}