body{
    background-color: forestgreen;
}

.line{
    background-color: darkgreen;
}

nav a{
    background-color: lightgreen;
    color: black;
}
nav a:hover{
    background-color: green;
    color: black;
}

#new_user li, #list_of_users li, #list_of_hotels li{
    display: flow-root;
    border-bottom: solid 1px gray;
}
/*#list_of_users input:not([type='checkbox'])*/
.added_user input:not([type='checkbox']), #new_user select, #list_of_users input:not([type='checkbox']), #list_of_users select, #list_of_hotels input:not([type='checkbox']){
    margin: 10px 5px 10px 5px;
    width: 100%;
    font-size: 16px;
}

#list_of_users select{
    width: 100%;
    font-size: 16px;
    margin-left: 5px;
}

.panel{
    background-color: mintcream;
    border: lightslategrey;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.green_buttom input, .green_buttom a{
    margin-top: 40px;
    padding: 8px 20px 8px 20px;
    font-size: 16px;
    background-color: forestgreen;
    opacity: 0.9;
    color: antiquewhite;
    border: 1px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    white-space: normal;
}

.green_buttom input:hover, .green_buttom a:hover{
    background-color: darkgreen;
    color: snow;
    text-decoration: none;
}

.green_buttom a{
    display: block;
    text-align: center;
    margin: 15px -5px 0px 5px;
}

input[type="checkbox"]{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-top: 10px;
}

#new_user .green_buttom input{
    margin-top: 40px;
}

p[name="password"]{
    -webkit-text-security: disc;
}

#list_of_users span{
    padding-left: 10px;
    padding-right: 30px;
}

#new_user select{
    height: 28px;
    margin-bottom: 20px;
}

#list_of_users select{
    height: 28px;
}

#list_of_users .row{
    padding-left: 20px;
}

.added_hotel textarea{
    min-height: 105px;
}

#new_hotel span {
    padding-bottom: 10px;
}

.green_buttom form input:nth-child(2){
    margin-top: 10px;
}
