<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
</head>
<body>
<header>
    <h1><b>Logowanie</b></h1>
</header>
<main>
    <h2>Podaj login i hasło</h2>
    <form name='login_form' th:action="@{/screenname/${email}/${password}}" method='post'>
        <table>
            <tr>
                <td><b>Login:</b></td>
                <td><input type='text' name='email' value=''></td>
            </tr>
            <tr>
                <td><b>Hasło:</b></td>
                <td><input type='password' name='password'/></td>
            </tr>
        </table>
        <input name="submit" type="submit" value="Zaloguj"/>
    </form>
</main>
<footer></footer>
</body>
</html>