<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szczegóły hotelu</title>
    <link rel="stylesheet" href="css/owner/details_of_the_hotel.css" type="text/css">
</head>
<body>
<header>
    <h1><b>Szczegóły hotelu</b></h1>
</header>
<main>
    <a type="button" th:href="@{/user_profile}">Twój Profil</a>
    <a type="button" th:href="@{/logout}">Wyloguj się</a>
</main>
<footer></footer>
</body>
</html>