<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zarządzaj hotelami</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/template.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owner/template_owner.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/owner/manage_hotels.css}" type="text/css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<header class="container">
    <h1><b>Zarządzaj hotelami</b></h1>
</header>

<div class="line">
    <nav class="container">
        <a type="button" th:href="@{/reserved_apartments}">Zestawienie rezerwacji</a>
        <a type="button" th:href="@{/user_profile}">Twój Profil</a>
        <a type="button" th:href="@{/logout}">Wyloguj się</a>
    </nav>
</div>
<main class="container">
    <h2>Podaj dane hotelu:</h2>
    <section class="row panel" th:id="new_hotel">
        <ul>
            <li class="added_hotel">
                <form th:name='new_hotel' th:action="@{/add_hotel}" th:object="${new_hotel}" th:method='post'>
                    <span class="col-sm-3 col-md-3 col-lg-3">
                        <p>Nazwa hotelu:</p>
                        <input type='text' name='name'>
                        <p>Ulica:</p>
                        <input type='text' name='street'/>
                        <p>Miejscowość:</p>
                        <input type='text' name='city'>
                    </span>
                    <span class="col-sm-3 col-md-3 col-lg-3">
                        <p>Gwiazdki:</p>
                        <input type='number' name='rating'/>
                        <p>Kraj:</p>
                        <input type='text' name='state'/>
                        <p>Kod pocztowy:</p>
                        <input type='text' name='postalCode'>
                    </span>
                    <span class="col-sm-3 col-md-3 col-lg-3">
                        <p>Opis:</p>
                        <textarea name="description" placeholder="Write something.." type='text'></textarea>
                    </span>
                    <span class="col-sm-3 col-md-3 col-lg-3 green_buttom">
                        <input name="submit" type="submit" value="Dodaj hotel"/>
                    </span>
                </form>
            </li>
        </ul>
    </section>
    <h2 th:if="${not #lists.isEmpty(hotels)}">Istniejące hotele: </h2>
    <section class="row panel" th:id="list_of_hotels">
        <ul>
            <li th:each="hotel,iter : ${hotels}">
                <form th:name='modified_hotel' th:action="@{/hotel_modification}" th:object="${modified_hotel}"
                      th:method='post'>
                    <span class="col-sm-3 col-md-3 col-lg-3">
                        <p>Nazwa hotelu:</p>
                        <p th:text="${hotel.name}" type='text' name='name'></p>
                        <p>Ulica:</p>
                        <p th:text="${hotel.street}" type='text' name='street'></p>
                        <p>Miejscowość:</p>
                        <p th:text="${hotel.city}" type='text' name='city'></p>
                        <p th:text="${hotel.idHotel}" type='text' name='idHotel' hidden></p>
                    </span>
                    <span class="col-sm-3 col-md-3 col-lg-3">
                        <p>Kraj:</p>
                        <p th:text="${hotel.state}" type='text' name='state'></p>
                        <p>Kod pocztowy:</p>
                        <p th:text="${hotel.postalCode}" type='text' name='postalCode'></p>
                        <p>Gwiazdki:</p>
                        <p th:text="${hotel.rating}" type='number' name='rating' hidden></p>
                        <th:block th:insert="template.html :: stars(rating = ${hotel.rating})"></th:block>
                    </span>
                    <span class="col-sm-3 col-md-3 col-lg-3">
                        <p>Opis:</p>
                        <p th:text="${hotel.description}" type='text' name='description'></p>
                    </span>
                    <span class="col-sm-3 col-md-3 col-lg-3 green_buttom">
                        <input name="submit" type="hidden" value="Zapisz zmiany"
                               th:id="save_changes_submit_+${iter.index + 1}"/>
                    </span>
                </form>
                <span class="col-sm-3 col-md-3 col-lg-3 green_buttom">
                     <input name="submit" type="submit" value="Modyfikuj dane o hotel"
                                           th:id="modify_submit_+${iter.index + 1}"/>
                    <form th:action="@{/details_of_the_hotel}" th:method="get">
                        <input type="number" name="id_hotel" th:value="${hotel.idHotel}" hidden/>
                        <input type="submit" value="Dodaj nowe apartamenty"/>
                    </form>
                    <a th:href="@{'/remove_hotel/{id_hotel}'(id_hotel=${hotel.idHotel})}">Usuń hotel</a>
                </span>
            </li>
        </ul>
    </section>
</main>
<footer class="container"></footer>
<script>

    $('[id^=modify_submit_]').click(function () {
        var allDetailsOfHotel = $(this).parent().prev().children().children();
        allDetailsOfHotel.each(function () {

            var attribute = $(this).attr('name');

            if ($(this).is('input')) {
                $(this).prop("type", "submit");
            }
            else if($(this).is("p[name='rating']")){
                $(this).replaceWith($("<input type=" + $(this).attr('type') + " name=" + $(this).attr('name') + " value=" + $(this).text() + ">"));
            }
            else if ($(this).is(":hidden")) {
                $(this).replaceWith($("<input type=" + $(this).attr('type') + " name=" + $(this).attr('name') + " value=" + $(this).text() + " hidden>"));
            }
            else if($(this).hasClass("image")){
                $(this).hide();
            }
            else if(typeof attribute !== typeof undefined && attribute !== false){
                $(this).replaceWith($("<input type=" + $(this).attr('type') + " name=" + $(this).attr('name') + " value=" + $(this).text() + ">"));
            }
        });
        $(this).prop("type", "hidden");
    });

</script>
</body>
</html>